<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <a class="navbar-brand text-white" href="#">Universal TV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <!-- <ul class="nav navbar-nav ml-md--auto float-right">
                    <li class="dropdown" *ngIf="userDetails && userDetails?.name">
        
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown"
                            aria-expanded="false">
                            <strong class="text-success">Welcome <span
                                    class="text-white">{{userDetails?.name}}</span></strong>
                            <b class="caret"></b>
                        </a>
        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
                        </div>
        
                    </li>
                </ul> -->
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>