<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show fade':sharedAlert?.modalShow}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{sharedAlert?.header}}</h5>
                <button type="button" class="close" (click)="sharedAlert={}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{sharedAlert?.message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="sharedAlert={}">Ok</button>
            </div>
        </div>
    </div>
</div>